* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 2.5rem;
  font-family: "Poppins", "pt-sans";
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

nav {
  background-color: #fff;
  height: 80px;
  width: 100%;
  padding: 0 3rem;
  position: fixed;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media (max-width: 900px) {
  nav {
    height: auto;
    padding: 0.7rem 3rem;
  }
}
@media (max-width: 600px) {
  nav {
    margin-bottom: 2rem;
    padding-left: 2rem;
  }
}
nav .logo {
  z-index: 1;
  text-align: center;
}
nav .logo a {
  font-weight: 600;
  text-decoration: none;
  font-size: 1.2rem;
  color: #e64343;
  text-shadow: 1px 4px 3px #c9c7c7;
}
nav .nav-links ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 780px) {
  nav .nav-links ul {
    flex-direction: column;
    position: absolute;
    top: -280px;
    right: 0.5px;
    background: rgba(255, 255, 255, 0.9450980392);
    width: 100%;
    align-items: end;
    padding: 2rem 3rem;
    box-shadow: 5px 2px 14px 1px rgba(20, 20, 20, 0.6509803922);
    transition: ease 0.5s;
    z-index: 100;
  }
}
nav .nav-links ul a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #000;
  margin-left: 1.5rem;
}
@media (max-width: 780px) {
  nav .nav-links ul a {
    margin: 3rem 0;
    line-height: 2;
  }
}
nav .nav-links ul a:focus, nav .nav-links ul a:hover {
  border-bottom: 2px solid #fdc8c0;
}
nav .nav-links .active {
  top: 73px;
  height: 50dvh;
}
nav .hamburger {
  position: absolute;
  top: 3;
  left: 5%;
  height: 25px;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
  cursor: pointer;
  transition: ease 0.4s;
}
@media (max-width: 780px) {
  nav .hamburger {
    display: flex;
  }
}
nav .hamburger #bar-one, nav .hamburger #bar-two, nav .hamburger #bar-three {
  background-color: #000;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  margin: 1.27px 0;
}
nav .hamburger #bar-one.transform {
  transform: translateY(7px) rotate(45deg);
  transition: ease 0.4s;
}
nav .hamburger #bar-two.transform {
  opacity: 0;
  transition: ease 0.4s;
}
nav .hamburger #bar-three.transform {
  transform: translateY(-7px) rotate(-45deg);
  transition: ease 0.4s;
}

.home {
  height: 100dvh;
  width: 100%;
  background: url(./Images/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-clip: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
}
.home .overlay {
  background: rgba(252, 228, 228, 0.5019607843);
  height: 100%;
  width: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  bottom: 7px;
}
.home .text-box {
  z-index: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  height: 100%;
}
.home .text-box h1 {
  font-size: 3.5rem;
  margin: 1rem 0;
  text-shadow: 2px -2px 3px;
}
@media (max-width: 480px) {
  .home .text-box h1 {
    font-size: 3rem;
  }
}
@media (max-width: 360px) {
  .home .text-box h1 {
    font-size: 2.5rem;
  }
}
.home .text-box p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: -1px -1px 1px;
}
@media (max-width: 540px) {
  .home .text-box p {
    margin-bottom: 0.5rem;
  }
}
@media (max-width: 360px) {
  .home .text-box p {
    font-size: 1rem;
  }
}
.home .text-box a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 400;
  background: #ffe8e8;
  color: #000;
  padding: 0.7rem 2rem;
  border: 1px solid #fdc8c0;
  border-radius: 0.5rem;
  margin-top: 1.5rem;
  transition: 0.4s ease;
}
.home .text-box a:hover {
  background: #fdc8c8;
}
@media (max-width: 540px) {
  .home .text-box a {
    margin-top: 1.5rem;
    padding: 0.5rem 2rem;
  }
}
@media (max-width: 360px) {
  .home .text-box a {
    padding: 0.5rem 2rem;
  }
}

.about {
  height: 80dvh;
  padding: 3rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media (max-width: 780px) {
  .about {
    height: 80dvh;
    padding: 5rem 2rem 3rem 2rem;
  }
}
@media (max-width: 560px) {
  .about {
    height: 100dvh;
  }
}
@media (max-width: 360px) {
  .about {
    height: auto;
  }
}
.about h1 {
  margin-bottom: 2rem;
  padding-bottom: 0.3rem;
  font-style: 2.5rem;
}

.services {
  height: 80dvh;
  background: linear-gradient(#fdc8c8, #fdc8c0);
  padding: 5rem 3rem 3rem 3rem;
  text-align: center;
}
@media (max-width: 900px) {
  .services {
    height: auto;
  }
}
@media (max-width: 780px) {
  .services {
    height: auto;
    padding: 5rem 1.5rem 3rem 1.5rem;
  }
}
@media (max-width: 480px) {
  .services {
    overflow-x: hidden;
  }
}
.services h1 {
  margin-bottom: 2rem;
  padding-bottom: 0.3rem;
  font-style: 2.5rem;
}
.services .cards {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 950px) {
  .services .cards {
    flex-wrap: wrap;
    gap: 25px;
  }
}
@media (max-width: 780px) {
  .services .cards {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
.services .cards .card {
  background: rgba(255, 169, 169, 0.4784313725);
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
  padding: 2rem;
  border-radius: 0.4rem;
  height: 320px;
  width: 300px;
}
.services .cards .card i {
  font-size: 2rem;
}
.services .cards .card h2 {
  font-size: 1.2rem;
  margin: 1.5rem;
}
@media (max-width: 900px) {
  .services .cards .card {
    margin: 1.5rem 0;
    height: 300px;
  }
}
@media (max-width: 780px) {
  .services .cards .card {
    width: 80%;
    margin: 1.5rem 0;
    height: 280px;
  }
}
@media (max-width: 650px) {
  .services .cards .card {
    width: 100%;
    height: 330px;
  }
}

.gallery {
  height: 100dvh;
  text-align: center;
  padding: 5rem 3rem 3rem 3rem;
}
@media (max-width: 7680px) {
  .gallery {
    padding: 5rem 2rem 3rem 2rem;
  }
}
@media (max-width: 600px) {
  .gallery {
    padding: 5rem 1.5rem 3rem 1.5rem;
  }
}
@media (max-width: 480px) {
  .gallery {
    padding: 5rem 1rem 3rem 1rem;
  }
}
.gallery h1 {
  margin-bottom: 2rem;
  padding-bottom: 0.3rem;
  font-style: 2.5rem;
}
.gallery .swiper {
  width: 90%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 600px) {
  .gallery .swiper {
    width: 100%;
  }
}
.gallery .swiper .swiper-wrapper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery .swiper .swiper-wrapper .swiper-slide img {
  height: 380px;
  width: 360px;
  margin: 0;
}
@media (max-width: 600px) {
  .gallery .swiper .swiper-wrapper .swiper-slide img {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .gallery .swiper .swiper-wrapper .swiper-slide img {
    height: 360px;
  }
}
.gallery .swiper .swiper-pagination span {
  background-color: #fa9494;
}
.gallery .swiper .swiper-button-prev, .gallery .swiper .swiper-button-next {
  color: #f79999;
}
.gallery .swiper .swiper-scrollbar {
  background-color: #ff9b9b;
}

.contact {
  height: 100dvh;
  background: #fdc8c0;
  padding: 3rem 1rem;
}
@media (max-width: 900px) {
  .contact {
    height: 60dvh;
  }
}
@media (max-width: 780px) {
  .contact {
    height: auto;
  }
}
@media (max-width: 480px) {
  .contact {
    overflow-x: hidden;
  }
}
.contact h1 {
  margin-bottom: 2rem;
  padding-bottom: 0.3rem;
  font-style: 2.5rem;
  text-align: center;
}
.contact .sub-class {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding-bottom: 1.5rem;
}
@media (max-width: 780px) {
  .contact .sub-class {
    flex-direction: column;
  }
}
.contact .sub-class .form-container {
  height: 100%;
  width: 50%;
  padding: 0 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 900px) {
  .contact .sub-class .form-container {
    padding: 0 2rem;
  }
}
@media (max-width: 780px) {
  .contact .sub-class .form-container {
    width: 90%;
    padding: 0 1.5rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 650px) {
  .contact .sub-class .form-container {
    width: 100%;
    padding: 0 1rem;
  }
}
.contact .sub-class .form-container form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem 1rem;
  border: 1px solid #ce5a5a;
  width: 80%;
  border-radius: 0.3rem;
}
@media (max-width: 900px) {
  .contact .sub-class .form-container form {
    width: 85%;
  }
}
@media (max-width: 780px) {
  .contact .sub-class .form-container form {
    width: 100%;
  }
}
@media (max-width: 650px) {
  .contact .sub-class .form-container form {
    padding: 0.7rem;
  }
}
.contact .sub-class .form-container form input:first-child {
  margin: 1.5rem 0;
  padding: 0.5rem 1rem;
  width: 80%;
  border: none;
  outline: none;
  border-radius: 0.3rem;
  background: #ffe6e2;
}
.contact .sub-class .form-container form input:nth-child(2) {
  padding: 0.5rem 1rem;
  width: 80%;
  border: none;
  outline: none;
  border-radius: 0.3rem;
  background: #ffe6e2;
}
.contact .sub-class .form-container form textarea {
  margin-top: 1.5rem;
  padding: 0.5rem 1rem;
  width: 80%;
  border: none;
  outline: none;
  border-radius: 0.3rem;
  background: #ffe6e2;
  height: 150px;
}
.contact .sub-class .form-container form button {
  background: #ffd6d0;
  margin: 1.5rem 0;
  width: 80%;
  height: 40px;
  border: 1px solid #ee7a7a;
  border-radius: 0.3rem;
  outline: none;
  cursor: pointer;
  transition: ease 0.4s;
}
.contact .sub-class .form-container form button:hover {
  background: #f3beb6;
}
.contact .sub-class .map-container {
  height: 100%;
  width: 50%;
  padding: 0.7rem;
}
@media (max-width: 1000px) {
  .contact .sub-class .map-container {
    height: 60%;
    padding: 0;
  }
}
@media (max-width: 780px) {
  .contact .sub-class .map-container {
    width: 100%;
    height: 300px;
  }
}
.contact .sub-class .map-container iframe {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  margin-bottom: 0.7rem;
}
@media (max-width: 780px) {
  .contact .sub-class .map-container iframe {
    width: 100%;
    height: 350px;
  }
}

footer {
  padding: 3rem 3rem 0.5rem 3rem;
  background: #fff0f0;
}
@media (max-width: 900px) {
  footer {
    padding: 3rem 1.5rem 0.5rem 1.5rem;
  }
}
@media (max-width: 780px) {
  footer {
    padding: 3rem 2.5rem 0.5rem 2.5rem;
  }
}
footer .top-layer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
@media (max-width: 780px) {
  footer .top-layer {
    flex-direction: column;
    margin-bottom: 1.5rem;
  }
}
footer .top-layer a {
  text-decoration: none;
  font-size: 1.5rem;
  margin-left: 1rem;
}
footer .top-layer a i {
  transition: 0.3s ease;
}
footer .top-layer a i:hover {
  color: #fc9787;
}
footer .top-layer .social, footer .top-layer .address, footer .top-layer .Tel {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
@media (max-width: 780px) {
  footer .top-layer .social, footer .top-layer .address, footer .top-layer .Tel {
    margin: 1.5rem 0;
  }
}
footer .top-layer .social i, footer .top-layer .address i, footer .top-layer .Tel i {
  color: #e9b9b3;
  font-size: 1.5rem;
}
footer .top-layer .social span, footer .top-layer .address span, footer .top-layer .Tel span {
  margin-left: 0.6rem;
  font-size: 1.2rem;
  font-weight: 500;
}
@media (max-width: 900px) {
  footer .top-layer .social span, footer .top-layer .address span, footer .top-layer .Tel span {
    margin-left: 0.3rem;
  }
}
@media (max-width: 780px) {
  footer .top-layer .social span, footer .top-layer .address span, footer .top-layer .Tel span {
    margin-left: 0.6rem;
  }
}
footer .bottom-layer {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 500;
  margin-top: 1rem;
}
footer hr {
  border: 1px solid #fdc8c0;
  width: 90%;
  margin: auto;
}/*# sourceMappingURL=style.css.map */
