*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2.5rem;
    font-family: 'Poppins', 'pt-sans';
    user-select: none;
}

// ------Navbar Style

nav{
       background-color: #fff;
       height: 80px;
       width: 100%;
       padding: 0 3rem;
       position: fixed;
       display: flex;
       flex-direction: row-reverse;
       align-items: center;
       justify-content: space-between;
       z-index: 100;
       user-select: none;
       @media(max-width: 900px){
           height: auto;
           padding: .7rem 3rem;
       }
       @media(max-width: 600px){
           margin-bottom: 2rem;
           padding-left: 2rem;
       }
       .logo{
           z-index: 1;
           text-align: center;
           a{
                font-weight: 600;
                text-decoration: none;
                font-size: 1.2rem;
                color: #000;
            }
       }
        .nav-links{
            ul{
                list-style: none;
                display: flex;
                align-items: center;
                justify-content: center;
                @media(max-width: 780px){
                    flex-direction: column;
                    position: absolute;
                    top: -280px;
                    right: .5px;
                    background: #fffffff1;
                    width: 100%;
                    align-items: end;
                    padding: 2rem 3rem;
                    box-shadow: 5px 2px 14px 1px #141414a6;
                    transition: ease .5s;
                    z-index: 100;
                }
                a{
                    font-size: 1.2rem;
                    text-decoration: none;
                    color: #000;
                    margin-left: 1.5rem;
                    @media(max-width: 780px){
                        margin: 3rem 0;
                        line-height: 2;
                    }
                    &:focus, &:hover{
                        border-bottom: 2px solid #fdc8c0;
                    }
                }
            }
            .active{
                top: 73px;
                height: 50dvh;
            }
        }
        .hamburger{
            position: absolute;
            top: 3;
            left: 5%;
            height: 25px;
            width: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            display: none;
            cursor: pointer;
            transition: ease .4s;
            @media(max-width: 780px){
                display: flex;
            }
            #bar-one, #bar-two, #bar-three{
                background-color: #000;
                height: 4px;
                width: 100%;
                border-radius: 2px;
                margin: 1.27px 0;
            }
            #bar-one.transform{
                transform: translateY(7px) rotate(45deg);
                transition: ease .4s;
            }
            #bar-two.transform{
                opacity: 0;
                transition: ease .4s;
            }
            #bar-three.transform{
                transform: translateY(-7px) rotate(-45deg);
                transition: ease .4s;
            }
        }
}

// ------Home Page Style

.home{
    height: 100dvh;
    width: 100%;
    background: url(./Images/hero-img.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-clip: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
    .overlay{
        background: #fce4e480;
        height: 100%;
        width: 100%;
        position: absolute;
        object-fit: cover;
        top: 0;
        left: 0;
        bottom: 7px;
    }
    .text-box{
        z-index: 1;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 5.5rem;
        height: 100%;
        h1{
            font-size: 3.5rem;
            margin: 1rem 0;
            color: #e64343;
            text-shadow: 2px -2px 3px #fff;
            @media(max-width: 480px){
                font-size: 3rem;
            }
            @media(max-width: 360px){
                font-size: 2.5rem;
            }
        }
        p{
            font-size: 1.2rem;
            margin-bottom: 1rem;
            -webkit-background-clip: text;
            background-clip: text;
            color: #490707;
            text-shadow: -1px 2px 0px #ffe8e8;
            @media(max-width: 540px){
                margin-bottom: .5rem;
            }
            @media(max-width: 360px){
                font-size: 1rem;
            }
        }
        a{
            text-decoration: none;
            font-size: 1.2rem;
            font-weight: 400;
            background: #ffe8e8;
            color: #000;
            padding: .7rem 2rem;
            border: 1px solid #fdc8c0;
            border-radius: .5rem;
            margin-top: 1.5rem;
            transition: .4s ease;
            &:hover{
                background: #fdc8c8;
            }
            @media(max-width: 540px){
                margin-top: 1.5rem;
                padding: .5rem 2rem;
            }
            @media(max-width: 360px){
                padding: .5rem 2rem;
            }
        }
    }
}

// ------About section Style

.about{
    height: 80dvh;
    padding: 3rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    @media(max-width: 780px){
        height: 80dvh;
        padding: 5rem 2rem 3rem 2rem;
    }
    @media(max-width: 560px){
        height: 100dvh;
    }
    @media(max-width: 360px){
        height: auto;
    }
    h1{
        margin-bottom: 2rem;
        padding-bottom: .3rem;
        font-style: 2.5rem;
    }
}

// ------Services section Style

.services{
    height: 80dvh;
    background: linear-gradient(#fdc8c8, #fdc8c0);
    padding: 5rem 3rem 3rem 3rem;
    text-align: center;
    @media(max-width: 900px){
        height: auto;
    }
    @media(max-width: 780px){
        height: auto;
        padding: 5rem 1.5rem 3rem 1.5rem;
    }
    @media(max-width: 480px){
        overflow-x: hidden;
    }
    h1{
        margin-bottom: 2rem;
        padding-bottom: 0.3rem;
        font-style: 2.5rem;
    }
    .cards{
        display: flex;
        align-items: center;
        justify-content: center;
        @media(max-width: 950px){
            flex-wrap: wrap;
            gap: 25px;
        }
        @media(max-width: 780px){
            flex-direction: column;
            flex-wrap: nowrap;
        }
        .card{
            background: #ffa9a97a;
            display: flex;
            flex-direction: column;
            margin-left: 1.5rem;
            padding: 2rem;
            border-radius: .4rem;
            height: 320px;
            width: 300px;
            i{
                font-size: 2rem;
            }
            h2{
                font-size: 1.2rem;
                margin: 1.5rem;
            }
            @media(max-width: 900px){
                margin: 1.5rem 0;
                height: 300px;
            }
            @media(max-width: 780px){
                width: 80%;
                margin: 1.5rem 0;
                height: 280px;
            }
            @media(max-width: 650px){
                width: 100%;
                height: 330px;
            }
        }
    }
}

// ------Gallery section Style

.gallery{
    height: 100dvh;
    text-align: center;
    padding: 5rem 3rem 3rem 3rem;
    @media(max-width: 7680px){
        padding: 5rem 2rem 3rem 2rem;
    }
    @media(max-width: 600px){
        padding: 5rem 1.5rem 3rem 1.5rem;
    }
    @media(max-width: 480px){
        padding: 5rem 1rem 3rem 1rem;
    }
    h1{
        margin-bottom: 2rem;
        padding-bottom: 0.3rem;
        font-style: 2.5rem;
    }
    .swiper {
        width: 90%;
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        @media(max-width: 600px){
            width: 100%;
        }
        .swiper-wrapper{
            .swiper-slide{
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    height: 380px;
                    width: 360px;
                    margin: 0;
                    @media(max-width: 600px){
                        width: 100%;
                    }
                    @media(max-width: 480px){
                        height: 360px;
                        width: 320px;
                    }
                }
            }
        }
        .swiper-pagination{
            span{
                background-color: #fa9494;
            }
        }
        .swiper-button-prev, .swiper-button-next{
            color: #f79999;
        }
        .swiper-scrollbar{
            background-color: #ff9b9b;
        }
    }
}

// ------Contact section Style

.contact{
    height: 100dvh;
    background: #fdc8c0;
    padding: 3rem 1rem;
    @media(max-width: 900px){
        height: 60dvh;
    }
    @media(max-width: 780px){
        height: auto;
    }
    @media(max-width: 480px){
        overflow-x: hidden;
    }
    h1{
        margin-bottom: 2rem;
        padding-bottom: 0.3rem;
        font-style: 2.5rem;
        text-align: center;
    }
    .sub-class{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        padding-bottom: 1.5rem;
        @media(max-width: 780px){
            flex-direction: column;
        }
        .form-container{
            height: 100%;
            width: 50%;
            padding: 0 3rem;
            display: flex;
            align-items: center;
            justify-content: center;
            @media(max-width: 900px){
                padding: 0 2rem;
            }
            @media(max-width: 780px){
                width: 90%;
                padding: 0 1.5rem;
                margin-bottom: 2rem;
            }
            @media(max-width: 650px){
                width: 100%;
                padding: 0 1rem;
            }
            form{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                padding: 2rem 1rem;
                border: 1px solid #ce5a5a;
                width: 80%;
                border-radius: .3rem;
                @media(max-width: 900px){
                    width: 85%;
                }
                @media(max-width: 780px){
                    width: 100%;
                }
                @media(max-width: 650px){
                    padding: .7rem;
                }
                input:first-child{
                    margin: 1.5rem 0;
                    padding: .5rem 1rem;
                    width: 80%;
                    border: none;
                    outline: none;
                    border-radius: .3rem;
                    background: #ffe6e2;
                }
                input:nth-child(2){
                    padding: .5rem 1rem;
                    width: 80%;
                    border: none;
                    outline: none;
                    border-radius: .3rem;
                    background: #ffe6e2;
                }
                textarea{
                    margin-top: 1.5rem;
                    padding: .5rem 1rem;
                    width: 80%;
                    border: none;
                    outline: none;
                    border-radius: .3rem;
                    background: #ffe6e2;
                    height: 150px;
                }
                button{
                    background: #ffd6d0;
                    margin: 1.5rem 0;
                    width: 80%;
                    height: 40px;
                    border: 1px solid #ee7a7a;
                    border-radius: .3rem;
                    outline: none;
                    cursor: pointer;
                    transition: ease .4s;
                    &:hover{
                        background: #f3beb6;
                    }
                }
            }
        }
        .map-container{
            height: 100%;
            width: 50%;
            padding: 0.7rem;
            @media(max-width: 1000px){
                height: 60%;
                padding: 0;
            }
            @media(max-width: 780px){
                width: 100%;
                height: 300px;
            }
            iframe{
                height: 100%;
                width: 100%;
                border: none;
                outline: none;
                margin-bottom: 0.7rem;
                @media(max-width: 780px){
                    width: 100%;
                    height: 350px;
                }
            }
        }
    }
}

// ------Footer Style

footer{
    padding: 3rem 3rem .5rem 3rem;
    background: #fff0f0;
    @media(max-width: 900px){
        padding: 3rem 1.5rem .5rem 1.5rem;
    }
    @media(max-width: 780px){
        padding: 3rem 2.5rem .5rem 2.5rem;
    }
    .top-layer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;
        @media(max-width: 780px){
            flex-direction: column;
            margin-bottom: 1.5rem; 
        }
        a{
            text-decoration: none;
            font-size: 1.5rem;
            margin-left: 1rem;
            i{
                transition: .3s ease;
                &:hover{
                    color: #fc9787;
            }   }
        }
        .social,.address,.Tel{
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            @media(max-width: 780px){
                margin: 1.5rem 0; 
            }
            i{
                color: #e9b9b3;
                font-size: 1.5rem;
            }
            span{
                margin-left: .6rem;
                font-size: 1.2rem;
                font-weight: 500;
                @media(max-width: 900px){
                    margin-left: 0.3rem;
                }
                @media(max-width: 780px){
                    margin-left: 0.6rem;
                }
            }
        }
    }
    .bottom-layer{
        text-align: center;
        font-size: 1.3rem;
        font-weight: 500;
        margin-top: 1rem;
    }
    hr{
        border: 1px solid #fdc8c0;
        width: 90%;
        margin: auto;
    }
}

